#openmobile {
    display: none;
}

.global-nav {
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 16px;
    line-height: 16px;
    height: 48px;
    background: #fff;
    z-index: 2;
}
.global-nav-wrapper {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1220px;
    display: flex;
    align-items: center;
}
.global-nav-logo {
    display: flex;
    align-items: center;
}
.global-nav-logo img {
    width: 32px;
    height: auto;
    margin: 8px;
}

.global-nav-items {
    flex-grow: 1;
    display: flex;
}
.global-nav-items > a,
.global-mobile-nav-items > a {
    position: relative;
    display: block;
    flex-grow: 0;
    padding: 16px 8px;
    text-decoration: none;
    color: #569679;
}
.global-nav-items > a:hover:after,
.global-mobile-nav-items > a:hover:after {
    content: '';
    position: absolute;
    width: calc(100% - 16px);
    height: 2px;
    background: #569679;
    bottom: 9px;
    left: 8px;
}

.global-nav-paction {
    display: flex;
    align-items: center;
}

.global-nav-openmobile,
.global-nav-name,
.global-mobile-nav-items {
    display: none;
}

@media screen and (max-width: 600px) {
    .global-nav-wrapper {
        justify-content: space-between;
    }
    .global-nav-openmobile {
        cursor: pointer;
        display: block;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .global-mobile-nav-items {
        box-sizing: border-box;
        display: flex;
        position: fixed;
        top: 48px;
        left: 0;
        height: calc(100% - 48px);
        background: #fff;
        transform: translateX(-150%);
        padding: 20px 8px;
        width: 208px;
        transition: .2s ease-out;
        flex-direction: column;
        z-index: 2;
    }
    .global-nav-items {
        display: none;
    }
    .global-nav-items > * {
        padding: 16px 8px;
    }
    .global-nav-name {
        display: block;
    }
    #openmobile:checked + .global-nav + .global-mobile-nav-items {
        transform: translateX(0);
    }
    .global-nav-openmobile-close {
        display: none !important;
    }
    #openmobile:checked + .global-nav .global-nav-openmobile-close {
        display: block !important;
    }
    #openmobile:checked + .global-nav .global-nav-openmobile-open {
        display: none !important;
    }
}